
<div class="page-header" style="margin-top: 80px;">
              <h1 id="tables">2da Fase </h1>
            </div>
<div id="16stage" class="row" style="margin-left: 0px;">
<div class="col-sm-12 col-lg-12">


<div id="customHandlers">
  <table class="header-brackets">
<tr>
<td>
Octavos de final
</td>
<td style="padding-left: 93px;">
Cuartos de final
</td>
<td style="padding-left: 85px;">
Semifinal
</td>
<td style="padding-left: 92px;">
Gran final
</td>

</tr>
  </table>
<div class="demo"></div>
</div>

<% if !@round_of_16_open %>
<div class="round-disabled widhter">
<div class="disabled-text alert alert-warning">
  Esta fase está bloqueada.<a href="#" data-toggle="tooltip" title="<%= @bloq_message %>" class="link-small">¿Por que?</a>
</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
    $(".link-small").tooltip({placement: 'top'});
});
</script>
<% end %>


</div>

<div class="col-sm-4 col-lg-4 fuleco2" style="border-left:solid 1px #ecf0f1; height:500px;padding-top: 296px;display:none">
  <h4>Ronda de Eliminatoria</h4>
  <p>En esta ronda debes hacer click en los campos de resultados por partido! <br>recuerda que en esta fase no hay empates, para que se calcule el siguiente partido debes haber completado el resultado del partido que le antecede.</p>
  </div>
</div>


 <script type="text/javascript">
 $(function(){
if(resultsData != null){
  if(firstRoundData.length > 0)
    resultsData.push(firstRoundData);
  if(qRoundData.length > 0)
    resultsData.push(qRoundData);
  if(sRoundData.length > 0)
    resultsData.push(sRoundData);
  if(fRoundData.length > 0){

    //cambia el orden de los resultados
    var aux1 = fRoundData[0];
    fRoundData[0] =  fRoundData[1];
    fRoundData[1] = aux1;
        resultsData.push(fRoundData);
  }

}
  if(resultsData.length > 0){

  //resultsData.push(cRoundData);
    customData = {
        teams : teamsData,
        results: resultsData
      }
  }else{
    customData = {
        teams : teamsData
      }
  }
  



  initializeBrackets(customData);

 });

</script>
