<div class="separator-top"></div>
<div class="container">

<div class="bs-docs-section">

        <div class="row">
          <div class="col-lg-8">
           

            <%= render :partial => 'quinielas_edit'%>
            
          </div>

          
        </div>
      </div>


</div>