<div class="separator-top"></div>
<div class="container">

<div class="bs-docs-section">

        <div class="row">
          <div class="col-lg-8">
           

            <%= render :partial => 'quinielas', :locals => { :match => @matches } %>
            
          </div>

          <div class="col-lg-4 fuleco2 help-fixed">
  <h4>Ronda de Grupos</h4>
  <p>En esta ronda puedes visualizar cada uno de los partidos del mundial en su ronda de grupos, en cada partido puedes editar el resultado.</p>
  </div>
        </div>
      </div>


</div>


