<div class="separator-top"></div>
<div class="container">

<div class="bs-docs-section">
        <div class="row">
          <div class="col-sm-12 col-lg-12">
            <div class="page-header">
              <h1 id="forms">Registrate ahora y danos tus predicciones!</h1>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-7 col-lg-7">
            <div class="well">
              
<legend>Registrarme</legend>
<%= form_for @user, :html => {:class => "bs-example form-horizontal"} do |f| %>
<%= render :partial => "form", :object => f, :locals => { :user => @user } %>
<div class="form-group">
    <div class="col-sm-6 col-lg-6">
<%= f.submit "REGISTRARME" ,:class => "btn btn-primary pull-right", :style => "margin-right: -8px;" %>
 </div>
  </div>
<% end %>


            </div>
          </div>

  
        </div>
      </div>


</div>

