<% if target.errors.any? %>
<div id="errorExplanation" class="alert alert-dismissable alert-danger"><button type="button" class="close" data-dismiss="alert">×</button>
<strong><%= pluralize(target.errors.count, "error") %> Verifique la informacion e intente de nuevo:</strong>
<ul>
<% target.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</ul>
</div>
<% end %>

