
<div class="separator-top"></div>

<% if flash[:success] %>
<div class="container">
  <div class="row">
          <div class="col-lg-12">
            <div class="bs-example">
              <div class="alert alert-dismissable alert-success">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <p><strong><%=flash[:success]%></strong></p>
              </div>
            </div>
          </div>
        </div>
  </div>
<% end %>

<div class="container logo-fifa">

<div class="row">
<div class="col-lg-12">
<h1>Bienvenido<% if @session %>, <%= @session.name %>
<% end %>
</h1>
<p class="lead">¡Ésta es la quiniela para el mundial de la FIFA 2014, comenzar a jugar es muy sencillo: Regístrate, crea las quinielas que quieras y diviértete!</p>
</div>
</div>


</div>


<div class="container">
<% if !@session %>


<div class="bs-docs-section">
        <div class="row">
          <div class="col-lg-12">
            <div class="page-header">
              <h1 id="forms">¡Entra ahora y danos tus predicciones!</h1>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="well">
              

              <%= render "user_sessions/new_login", :target => @user_session %>


            </div>
          </div>


          <div class="col-lg-6">
            
            <div class="bs-example">
              <div class="jumbotron">
                <h2>¿Aun no te registras?</h2>
                <p><a href="/signup" class="btn btn-warning btn-lg">¡REGISTRARME!</a></p>
              </div>
            </div>
          </div>
  
        </div>
      </div>



<% end %>


 <div class="page-header">
              <h1 id="tables">¡Premios!</h1>
            </div>

<div class="container">

<div class="row">

<div class="col-lg-7">
  <table>
    <tr><td><p class="lead game-rule blaki">Los premios que serán entregados al final del torneo constan de:</p></td></tr>
    <tr><td><p class="lead game-rule sub-rule">1er premio: 60% del acumulado por venta de quinielas.</p></td></tr>
    <tr><td><p class="lead game-rule sub-rule">2do premio: 30% del acumulado por venta de quinielas.</p></td></tr>
    <tr><td><p class="lead game-rule sub-rule">3er premio: 10% del acumulado por venta de quinielas.</p></td></tr>
  </table>
</div>
  <div class="col-lg-5 fuleco2" style="height:300px;"></div>

</div>


</div>

 <div class="page-header">
              <h1 id="tables">Reglas del juego!</h1>
            </div>

<div class="container">

<div class="row">
  <div class="col-lg-3 fuleco"></div>
<div class="col-lg-9">
  <table>
    <tr><td><p class="lead game-rule">El juego consta de dos fases (Fase de Grupo y Segunda Fase) en cada una se debera intentar adivinar la puntuación final del juego.</p></td></tr>
    <tr><td><p class="lead game-rule">Las quinielas se deben crear antes del primer día del mundial. Puedes tener tantas quinielas como quieras.</p></td></tr>
    <tr><td><p class="lead game-rule">Se inicia la Quiniela adivinando los resultados de los partidos para la Fase de Grupo. Solo podrás modificarlo hasta el día anterior del primer juego.</p></td></tr>
    <tr><td><p class="lead game-rule">Para cuando terminen los juegos de la Fase de Grupo se habilitará la Segunda Fase. En los juegos de Octavos de Final estarán todos los equipos clasificados.</p></td></tr>
    <tr><td><p class="lead game-rule">Según los resultados que ingreses se escogerán los equipos que pasan de Octavos de Final a las siguientes rondas.</p></td></tr>
    <tr><td><p class="lead game-rule">Consigues puntos cuando:</p></td></tr>
    <tr><td><p class="lead game-rule blaki">Fase de Grupo:</p></td></tr>
    <tr><td><p class="lead game-rule sub-rule">1) 1 punto por adivinar el ganador o el empate.</p></td></tr>
    <tr><td><p class="lead game-rule sub-rule">2) 1 punto si adivinas el score de un solo equipo.</p></td></tr>
    <tr><td><p class="lead game-rule sub-rule">3) 2 puntos mas si adivinas el score de ambos equipos.</p></td></tr>
    <tr><td><p class="lead game-rule blaki">Segunda Fase:</p></td></tr>
    <tr><td><p class="lead game-rule sub-rule">1) 1 punto por adivinar el ganador o el empate (en este caso debes tener ambos equipos).</p></td></tr>
    <tr><td><p class="lead game-rule sub-rule">2) 1 punto si adivinas uno de los equipos (2 puntos en caso de adivinar ambos).</p></td></tr>
    <tr><td><p class="lead game-rule sub-rule">3) 1 punto si adivinas el score de un solo equipo (solo si adivinaste el equipo participante). </p></td></tr>
    <tr><td><p class="lead game-rule sub-rule">4) 2 puntos más si adivinas el score de ambos equipos (solo si adivinaste ambos equipos participantes).</p></td></tr>
    <tr><td><p class="lead game-rule"><strong>OJO:</strong> Contará solamente el resultado en los 90 minutos de juego, no contara extra-tiempo ni penales. También significa que puede haber empate en los resultados.</p></td></tr>
  </table>
</div>

</div>


</div>







</div>
</div>



    

 
