 <div class="page-header">
              <h1 id="tables">Rondas</h1>
            </div>

            <div class="col-xs-12 col-sm-12 sidebar-offcanvas" id="sidebar" role="navigation">
          <div class="list-group">
              

                 <a href="#round" class="list-group-item active">Fase de grupos</a>
                 <a href="#round2" class="list-group-item ">Segunda fase</a>

   

          </div>
        </div>

            
           
