<div class="separator-top"></div>
<div class="container">

<div class="bs-docs-section">
<div class="container">
        <div class="row">

                  <div class="col-sm-4 col-lg-4">
           <div class=" fuleco3">
		          <%= render :partial => 'rounds_menu' %>
            </div>
          </div>  
          <div class="col-sm-8 col-lg-8">
           

            <%= render :partial => 'results' %>
            
          </div>

        </div>
      </div>


</div>

</div>
