<div class="separator-top"></div>
<div class="container">

<div class="bs-docs-section">

        <div class="row">
          <div class="col-sm-8 col-lg-8">
           

            <%= render :partial => 'matches', :locals => { :match => @matches } %>
            
          </div>

          
        </div>
      </div>


</div>


