/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 .separator-top {
 	margin-top: 80px;

 }
footer{
	margin-top: 30px;
	border-top: solid 3px #2c3e50;
padding-top: 20px;
}
.logo-fifa{
background: url(/assets/logo.png) no-repeat 0px 0px white;
height: 200px;
padding-left: 200px !important;
padding-top: 42px;
}
.container .jumbotron{
	padding: 10px;
	text-align: center;
}