<%= form_for @user_session,:html => {:class => "bs-example form-horizontal"}, :as => :user_session, :url => { controller:"user_sessions", :action => "create" } do |f| %>
<legend>Entrar</legend>
<fieldset>
<%= render :partial => "user_sessions/form", :object => f, :locals => { :user_session => @user_session } %>
<div class="form-group">
	<div class="col-sm-5 col-lg-5">
<%= f.submit "ENTRAR" ,:class => "btn btn-primary pull-right", :style => "margin-right: 10px;"%>
 </div>
  </div>
</fieldset>
<% end %>
