<div class="separator-top"></div>
<div class="container">

<div class="bs-docs-section">
        <div class="row">
          <div class="col-sm-12 col-lg-12">
            <div class="page-header">
              <h1 id="forms">¡Entra ahora y danos tus predicciones!</h1>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6 col-lg-6">
            <div class="well">
              

              <%= render "user_sessions/new_login", :target => @user_session %>


            </div>
          </div>

  
        </div>
      </div>


</div>

